app/__pycache__/*
.DS_Store
app/__pycache__/main.cpython-37.pyc
tests/__pycache__/conftest.cpython-37-pytest-5.4.3.pyc
tests/__pycache__/test_getlemma.cpython-37-pytest-5.4.3.pyc
tests/__pycache__/test_getkeywords.cpython-37-pytest-5.4.3.pyc
tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/test_transformcorpus.cpython-37-pytest-5.4.3.pyc
__pycache__/conftest.cpython-37-pytest-5.4.3.pyc
tests/__pycache__/context.cpython-37.pyc
